# Laravel
/.phpunit.cache
/bootstrap/ssr
/storage/*.key
/storage/pail
/storage/framework/cache/data
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/app/public/.gitignore
!/storage/app/private/.gitignore
!/storage/framework/cache/data/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

# Dependencies
/node_modules
/vendor

# Build Artifacts
/public/build
/public/hot
/public/storage

# Wayfinder Generated
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder

# Environment & Config
.env
.env.backup
.env.production
.env.testing
/auth.json

# IDEs & Editors
.DS_Store
.idea
.vscode
.fleet
.nova
.zed
.GEMINI
.github
.phpactor.json
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project

# System
Thumbs.db
Desktop.ini
ehthumbs.db
.lsoverride
.Spotlight-V100
.Trashes

# Logs & Cache
npm-debug.log
yarn-error.log
.eslintcache
.phpunit.result.cache

# Homestead
Homestead.json
Homestead.yaml
GEMINI.md
